<footer class="footer">
	<nav class="footer__navigation">
		<ul>
			<li class="footer__navigation__item"><a href="link1.html">Link1</a></li>
			<li class="footer__navigation__item"><a href="link1.html">Link2</a></li>
			<li class="footer__navigation__item"><a href="link1.html">Link3</a></li>
		</ul>
	</nav>

</footer>