<header class="header">
	<h1 class="header__title"><span class="header__titleLess">Serena </span>Beddini</h1>
	<nav class="navigation">
		<ul>
			<li class="navigation__item"><a class="navigation__item__link" href="index">Studies</a></li>
			<li class="navigation__item"><a class="navigation__item__link" href="newsletter">Skills</a></li>
			<li class="navigation__item"><a class="navigation__item__link" href="contact">Contact</a></li>
		</ul>
	</nav>
</header>