* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }

.blog {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  @media (min-width: 650px) {
    .blog {
      flex-direction: row; } }
  .blog h2 {
    align-self: center;
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 20px;
    text-transform: uppercase; }

.blog__item {
  position: relative; }

.blog__itemText {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .blog__itemText .text {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 50%;
    align-self: center;
    color: #fff;
    overflow: hidden;
    text-align: justify; }
    .blog__itemText .text a {
      color: #fff; }

.blog__itemImg img {
  width: 100%; }

.info__img {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .info__img img {
    width: 100%; }

.canvas {
  height: 40vh; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.item {
  -webkit-box-flex: 1 0 90%;
  -moz-box-flex: 1 0 90%;
  -webkit-flex: 1 0 90%;
  -ms-flex: 1 0 90%;
  flex: 1 0 90%;
  border: 1px solid black;
  min-width: 320px;
  margin: 5px;
  min-height: 100px; }
  @media (min-width: 650px) {
    .item {
      -webkit-box-flex: 1 0 45%;
      -moz-box-flex: 1 0 45%;
      -webkit-flex: 1 0 45%;
      -ms-flex: 1 0 45%;
      flex: 1 0 45%; } }
  @media (min-width: 960px) {
    .item {
      -webkit-box-flex: 1 1 30%;
      -moz-box-flex: 1 1 30%;
      -webkit-flex: 1 1 30%;
      -ms-flex: 1 1 30%;
      flex: 1 1 30%;
      max-width: 30%; } }

.item__img {
  width: 100%; }

.header, .navigation ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }
  @media (min-width: 650px) {
    .header, .navigation ul {
      flex-direction: row; } }

.header__title {
  padding: 20px;
  text-transform: uppercase;
  -webkit-box-flex: 1 1 20%;
  -moz-box-flex: 1 1 20%;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%; }

.navigation {
  -webkit-box-flex: 1 1 50%;
  -moz-box-flex: 1 1 50%;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.navigation__item {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.navigation .navigation__item__drop {
  display: block;
  position: absolute;
  z-index: 200;
  width: 180px;
  padding-top: 20px;
  flex-direction: column; }
  .navigation .navigation__item__drop li {
    visibility: hidden;
    background: #fff;
    list-style: none;
    height: 0px;
    padding-bottom: 10px;
    -webkit-transition-delay: 0s; }
    .navigation .navigation__item__drop li a {
      font-size: 18px;
      padding: 5px; }
      .navigation .navigation__item__drop li a:hover {
        text-decoration: underline; }

.navigation__item {
  width: 450px; }
  .navigation__item:hover .navigation__item__drop li {
    visibility: visible;
    height: 20px;
    -webkit-transition: visibility 0.5s ease-in-out 0.2s, height 0.5s ease-in-out; }

.navigation__item {
  list-style: none;
  text-transform: uppercase; }
  .navigation__item a {
    color: black;
    text-decoration: none;
    line-height: 20px;
    font-size: 20px; }
