{% block content %} 
<div class="content">
	<div class="canvas">
	</div>

	<div class="container">
		<article class="item">
			<p>1</p>
		</article>
		<article class="item">
			<p>2</p>
		</article>
		<article class="item">
			<p>3</p>
		</article>
		<article class="item item--small">
			<p>4</p>
		</article>
		<article class="item item--small">
			<p>5</p>
		</article>
		<article class="item item--small">
			<p>6</p>
		</article>
		<article class="item item--small">
			<p>7</p>
		</article>
	</div>
</div>

{% endblock %}
