{% block content %} 

<div class="content">
	<section class="blog">
		<h2 class="blog__title">Cucina</h2>
		<article class="blog__item">
				<div class="blog__itemText">
					<div class="text">
						<h3 class="blog__itemTitle">Lorem ipsum</h3>
						<p><a href="" class="blog__itemText__link" >Lorem ipsum dolor sit amet</a></p>
						<p>Lorem ipsum dolor sit amet</p>
						</div>
				</div>
				<div class="blog__itemImg">
					<img src="{{ "blog1.jpg" | asset_url }}" />
				</div>
		</article>
		<article class="blog__item , .info__img">
				<div class="blog__itemText">
					<div class="text">
						<h3 class="blog__itemTitle">Lorem ipsum</h3>
						<p><a href="" class="blog__itemText__link" >Lorem ipsum dolor sit amet</a></p>
						<p>Lorem ipsum dolor sit amet</p>
						</div>
				</div>
				<div class="blog__itemImg">
					<img src="{{ "blog2.jpg" | asset_url }}" />
				</div>
		</article>
		<article class="blog__item">
				<div class="blog__itemText">
					<div class="text">
						<h3 class="blog__itemTitle">Lorem ipsum</h3>
						<a href="" class="blog__itemText__link" >Lorem</a>
						<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet -webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px);-webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px);-webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px);</p>
						</div>
				</div>
				<div class="blog__itemImg">
					<img src="{{ "blog3.jpg" | asset_url }}" />
				</div>
		</article>

	</section>

	<section class="info">
			<div class="info__img">
				<img src="{{ "info.jpg" | asset_url }}" />
			</div>
			<div class="info__text">
				<h3 class="info__title">Viaggi</h3>
				<p>Scopri le ultime mete</p>
			</div>
	</section>
	
</div>
{% endblock %}